<div>
  <h1>Productos</h1>
  {{#each products}}
    <div style="padding: 10px;">
      <p>{{this.title}}</p>

      <p>{{this.description}}</p>

      <p>{{this.price}}</p>

    </div>
  {{/each}}
</div>